
*{margin: 0; padding: 0;}
body{background-color: #181a1f;}
ul{list-style: none;}
a{text-decoration: none; color:#333;font-family: pretendard;}
h1{font-family: pretendard;}
p{font-family: pretendard;}

@font-face {
  font-family: pretendard;
  src: url(webfonts/Pretendard-Regular.otf) format("opentype");
}
header{height: 100vh;}
.videowrap{width: 100%;height: 100vh; position: absolute; left: 0; top: 0; z-index: -2;}
.videowrap video{width: 100%;height: 100vh; object-fit: cover;}

.headerwrap{width: 1320px;height: 70px; display: flex; flex-grow: 1; padding-top: 20px 0 ; margin: 0 auto; line-height: 70px; overflow: hidden;}

.headerwrap .logo{width: 290px; height: 70px;display:flex; align-items: center;}
.headerwrap .lang{width: 450px; height: 70px;display: flex; justify-content: flex-end;font-size: 20px; color: #fff; }
.headerwrap .lang>a{font-size: 20px; color: #fff; margin: 0 10px; display: block; font-weight: bold;}
.headerwrap .lang>p{display: flex; align-items: center;} 
.headerwrap .nav{display: flex; justify-content: space-between; width: calc(1320px - 290px - 450px);height: 70px; }
.headerwrap .nav li>a{display: block; color: #fff;font-size: 18px;}

.headerwrap .nav .sub{padding-top: 20px; height: 230px; box-sizing: border-box; opacity: 0; transition: 0.3s; text-align: left;}
.headerwrap .nav .sub li{line-height: 50px;}
.headerwrap .nav .sub a{color: #fff;opacity: 0.5;}
.headerwrap .nav .sub li:hover a{opacity: 1;}

.bg{position: absolute; width: 100%;height:0px; left: 0; top: 0; background-color: rgba(24, 26, 31, .4);backdrop-filter: blur(50px); z-index: -1; transition: 0.3s;}

.headerwrap:hover ~ .bg{height: 300px;}
.headerwrap:hover{overflow:visible; height: 300px;}
.headerwrap:hover .sub{opacity: 1;}

.headerwrap2{width: 1320px; margin: 0 auto; padding: 384px 0 100px;}
.headerwrap2 img{margin-bottom: 20px;}
.headerwrap2 span{font-size: 36px;color: #fff; margin-right: 20px; font-weight: bold;}


#main_container article.notice{width: 1320px; margin: 0 auto; display: flex; padding: 160px 0 240px;}
#main_container article.notice>div{width: 26%; background-color: #2546c1; padding: 20px 30px; display: flex; justify-content: space-between;box-sizing: border-box; align-items: center; transition: 0.3S;}
#main_container article.notice>div p{font-size: 20px; color: #fff;}
#main_container article.notice>div a{font-size: 14px; color: #2546c1; padding: 8px 12px; background-color: #fff; border-radius: 20px;}
#main_container article.notice>a{display: block; width: 74%; background: rgb(64, 64, 64); padding: 20px 30px; display: flex; justify-content: space-between; align-items: center;}
#main_container article.notice>a p:first-child{font-size: 20px; color: #fff;}
#main_container article.notice>a p:nth-child(2){font-size: 20px; color: #bbb;}

#main_container article.notice>div:hover{background-color: #Fff;}
#main_container article.notice>div:hover p{color:#000}
#main_container article.notice>div:hover a{background-color: #2546c1; color: #fff;}
#main_container article.notice>a:hover p:first-child{text-decoration: underline;}

#eventoutline{width: 1320px; margin: 0 auto;padding-bottom: 250px;}

#eventoutline div.upper{color: #fff; width: 100%;}
#eventoutline div.upper h1{font-size: 56px; font-weight: normal;}
#eventoutline div.upper h1 span{color:#587bff}
#eventoutline div.upper p{font-size: 18px; color: #587bff; padding-top: 10px;}

#eventoutline div.lower{width: 1320px; margin: 0 auto;;color: #bbbbbb; font-size: 18px; display: flex; justify-content: space-between; padding-top: 50px; align-items:flex-start;}
#eventoutline div.lower>p{line-height: 30px; width: 60%;}
#eventoutline div.lower div{width: 40%; }
#eventoutline div.lower div p:last-child{font-size: 160px; color: #fff; font-weight: bold;margin: 0;}

#eventoutline .list{width: 100%;display: flex; justify-content: space-between; flex-grow: 1;}
#eventoutline ul.list li{width: 24%; background-color: #24272e; transition: 0.3s;}

#eventoutline ul.list li:hover{background-color: #2546c1}

#eventoutline ul.list li>a{display: block; padding: 30px; color: #fff;}
#eventoutline ul.list li>a p:first-child{padding-bottom: 60px; height: 40px;}
#eventoutline ul.list li:first-child>a p:first-child{height: 40px;vertical-align: middle;}
#eventoutline ul.list li:first-child>a p img{height: 20px; }
#eventoutline ul.list li>a p:nth-child(2){padding-bottom: 10px;}
#eventoutline ul.list li>a p:nth-child(3){line-height: 30px; color: #bbbbbb; font-size: 16px;}

#banner{width: 1320px; margin: 0 auto; padding-bottom: 240px;}
#banner a{display: block; width: 100%;}
#banner a img{width: 100%; object-fit: cover;}

#ticketopen{width: 100%;height: 600px; background-image: url(https://udc-static.dunamu.com/assets/images/tiketBg.png);display: flex; align-items: center; justify-content: center;}
#ticketopen{width: 100%; text-align: center;}
#ticketopen p:first-child{color: #fff; font-size: 56px; line-height: 80px;}
#ticketopen p span{font-size: 36px;}
#ticketopen p:nth-child(2){font-size: 18px; padding: 20px 0 50px;color: #fff; }
#ticketopen a{font-size: 20px;color: #fff; display: inline-block; padding: 15px 30px; border-radius: 40px; border: 1px solid #fff; transition: 0.2s;}
#ticketopen a:hover{color: #000; background-color: #fff;}

#program{padding-top: 240px; width: 1320px; margin: 0 auto; }
#program>p:first-child{color: #fff; font-size: 56px; padding-bottom: 30px;}
#program>p:nth-child(2){color: #bbbbbb; font-size: 18px; padding-bottom: 60px; line-height: 30px;}

#program .programbox{width: 100%;height: 376px;background-color: #24272e; display: flex; justify-content: center;}
#program .programbox>li{flex: 1 0 25%;height: 100%; align-content: center;}
#program .programitem{width: 100%; display: flex; flex-direction: column;text-align: center; align-items: center;}
#program .programitem p:first-child{width: 150px;height: 108px;}
#program .programitem p:first-child img{width: 100%; height: 100%; object-fit: cover;}
#program .programitem p:nth-child(2){font-size: 20px;color: #fff; padding: 25px 0;}
#program .programitem p:nth-child(3){font-size: 18px;width: 80%;color: #BBBBBB; line-height: 30px;}

#feedback{width: 1320px; padding: 150px 0 240px; margin: 0 auto;}
#feedback .text {position: relative;}
#feedback .text h1{font-size: 56px; color: #fff; font-weight: normal;}
#feedback .text p{font-size: 18px; color: #bbbbbb; margin-top: 15px;padding-bottom: 70px;}
#feedback .text:after{content: "";position: absolute;width: 100%;height: 1px;background-color: #333740;left: 0;bottom: 0;}

#feedback ul.tr{width: 100%; display: flex; flex-direction: column;}
#feedback ul.tr li{width: 100%;display: flex; flex-direction: row; padding: 20px 0; position: relative;}
#feedback ul.tr li:after{content: "";position: absolute;width: 100%;height: 1px;background-color: #333740;left: 0;bottom: 0;}
#feedback ul.tr li>p{width: 10%;}
#feedback ul.tr li .name{width: 30%; padding-left: 40px; box-sizing: border-box;}
#feedback ul.tr li .name p:first-child{font-size: 24px; color: #fff;}
#feedback ul.tr li .name p:nth-child(2){color: #bbbbbb; padding-top: 10px; line-height: 25px; margin: 0;}
#feedback ul.tr li .con{width: 60%;}
#feedback ul.tr li .con p:first-child{font-size: 18px; color: #fff;}
#feedback ul.tr li .con p:nth-child(2){color: #bbbbbb;padding: 20px 0 40px; line-height: 30px;}
#feedback ul.tr>a{color: #bbbbbb; border: solid 1px #bbbbbb; padding: 15px 25px; border-radius: 30px;}
#feedback ul.tr li>p:first-child{width: 85px; height: 85px;}
#feedback ul.tr li>p:first-child img{width: 100%; height: 100%; object-fit: cover;}

#foot{width: 100%; padding: 20px 0 30px; border-top: solid 1px #bbbbbb; border-style: dashed; position: relative; }
#foot:After{position: absolute;content: "";left: 0;top: 0;height: 100%;width: 100%;background: linear-gradient( 180deg, #1221e6, rgba(18, 33, 230, 0));opacity: 0; transition: 0.3s;z-index: -1;}
#foot:hover:after{opacity: 1;}
#foot:hover .more a{background: transparent; color: #fff; border: 1px solid #fff;}
#foot .more{width: 1320px; margin: 0 auto;}
#foot .more p{font-size: 24px; color: #fff;}
#foot .more a{display: inline-block;font-size: 20px; color: #999999; padding: 15px 25px; background-color: #333740; border-radius: 30px ; transition: 0.2s; margin-top: 20px;border: 1px solid transparent;}
#foot .more a:hover{color: #000; background-color: #fff;}
#foot .info{Width: 850px; margin: 0 auto; padding-top: 100px;}
#foot .info .up{display: flex; flex-direction: row; margin-bottom: 50px;}
#foot .info .up a{display: block;color: #bbbbbb; font-weight: bold; padding-right: 40px;}
#foot .info .up p{margin-left: calc(100% - 342px);}
#foot .info .down{width: 496px; line-height: 25px;}
#foot .info .down a{color: #999999;}
#foot .info .down p{font-size: 14px; color: #999999;}